<div class="c-naast">
  <h3 class="naast__intro">
    Amsterdam biedt jou de ideale mix voor een onvergetelijke studententijd. In Amsterdam is je
    studententijd zo dynamisch, elke dag is weer anders!
  </h3>
  <p>
    In Amsterdam studeren meer dan 100.000 studenten. Je kan dus wel stellen dat Amsterdam dé
    studentenstad van Nederland is! Dat er zoveel studenten in de hoofdstad zijn, is niet gek. Op
    het gebied van onderwijs is er in Amsterdam namelijk heel veel mogelijk! Er zijn meer dan tien
    hogescholen met elk een eigen karakter en twee universiteiten waar je allerlei bachelors en
    masters kunt volgen. Naast de vele studiemogelijkheden heeft Amsterdam natuurlijk nog meer aan
    studenten te bieden.
  </p>

  <h2 class="naast__title">Studentenverenigingen</h2>
  <p>
    In Amsterdam zijn heel veel gezellige studentenverenigingen. Zo zijn de bekende en tevens oude
    studentenverenigingen ASC en Lanx in Amsterdam gehuisvest. Meer zin om sportief je studententijd
    door te komen? Bij ons kun je ook een compleet overzicht van alle sportverenigingen in Amsterdam
    vinden. Met zoveel verschillende verenigingen is er dus zeker een vereniging die bij jou past!
  </p>

  <h2 class="naast__title">Dingen om te doen</h2>
  <p>
    In Amsterdam is er eigenlijk altijd wel wat te doen. Spot toeristen op de Wallen, slenter door
    de negen straatjes en doe je boodschappen op een van de vele markten. Het karakteristieke,
    bruisende karakter van Amsterdam vind je terug in de vele hippe, leuke en betaalbare
    horecagelegenheden en de gezelligste barretjes en restaurantjes. Ook kan je in Amsterdam uitgaan
    in toffe clubs en gezellige kroegen.
  </p>

</div>