<div class="c-videos">
  <h3 class="videos__intro">
    Soms is het gewoon fijn om video's te bekijken in plaats van te lezen. We hebben daarom een
    aantal video's gemaakt zodat je lekker achteruit kan gaan zitten en ons het werk laat doen om je
    kennis te laten maken met de opleiding.
  </h3>

  <h2 class="algemeen__title">Het studentenleven aan de HvA in corona tijd</h2>
  <p>
    Amor vertelt hoe haar studentenleven aan de HvA eruit ziet in coronatijd met online lessen en
    projectgroepen.
  </p>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/xZ5do91k_zA"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <h2 class="algemeen__title">Proef de sfeer van de AD Frontend Design & Development</h2>
  <p>
   Jan-Henk geeft je een rondleiding door het schoolgebouw en gaat in gesprek met de docenten en studenten.
  </p>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/LrGJUoT0lNk"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <h2 class="algemeen__title">Het begin van een developer</h2>
  <p>
    Een van onze studenten legt uit wat je moet doen om een front-end developer te worden in 2021.
  </p>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/M6SJWVOhZdM"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <h2 class="algemeen__title">De overgang van MBO naar HBO</h2>
  <p>
    Dus.. Overweeg jij nu om naar het HBO te stappen? Of ben je tevreden met je MBO diploma en ga je
    nu lekker aan de slag?
  </p>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/V0Vz7H26ZRQ"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

</div>