<div class="c-locatie"></div>
<div class="c-locatie">
  <h2 class="locatie__title">De locatie</h2>
  <p>
    Ben jij benieuwd het Brenno Premselahuis er van binnen uit ziet? Tweedejaars student Jan-Henk
    geeft je in deze 360 graden video een rondleiding op zijn favoriete locatie. Hij laat onder
    andere de hoog- en middenbouw zien, waar hij met vrienden afspreekt en waar hij in het zonnetje
    zit in de zomer.
  </p>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/rc831vCrC5M"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>

  <h2 class="algemeen__title">Op kamers in Amsterdam</h2>
  <p>
    Wil je gedurende je voltijdstudie op kamers in Amsterdam? Het vinden van een kamer in Amsterdam
    is helaas lastig vergeleken met andere studentensteden. Begin op tijd met zoeken en vraag al je
    vrienden en op sociale media om je te helpen zoeken. De huurprijs ligt meestal tussen de 500 en
    600 euro per maand per kamer.
  </p>

</div>