<div class="meeloopdag-step4 is--hidden-full" js-hook-meeloopdag-step-four>
  <div class="meeloopdag-step--count">
    <strong>2</strong>
    <span>/</span> 4</div>
  <div class="rotate__instructions">
    <div class="rotate__button-container">
      <button class="rotate__button" type="button" tabindex="0" js-hook-rotate-button>
        {% svg 'icons/chevron-right.svg' %}
      </button>
    </div>

    <div class="rotate__info-block is--hidden" js-hook-rotate-info-block>
      <p>
        <strong>Hier staan we in de hal van de school. Als je lesdag begint kom je hier binnen. Best groot toch?</strong>
      </p>
      <p>
        <i>Draai je telefoon om je heen of scroll door de 360 graden afbeelding.</i>
      </p>
    </div>
  </div>
  <div class="rotate__button-float">
    <button class="meeloopdag__quiz-radio-button" type="button" tabindex="0" js-hook-rotate-continue-button>
      <span class="button__label">Doorgaan</span>
    </button>
  </div>
</div>