<div class="meeloopdag-end is--hidden-full" js-hook-meeloopdag-end>
  <h2 class="meeloopdag-end__title" js-hook-meeloopdag-end-title>Bedankt voor je deelname aan de digitale meeloopdag!</h2>

  <p class="meeloopdag-end__description">
    Wil je graag meer weten over de opleiding? Kijk dan naar het werk wat onze
    studenten hebben gemaakt of neem contact op met onze studenten voor een leuk gesprek en om vragen te
    stellen over de opleiding.
  </p>

  <div class="related">
    <button class="related__link" aria-controls="modal-studentenwerk" aria-label="Open modalbox" js-hook-button-modal-close>
      <div>
        <img class="" src="/assets/images/elements/werk.png" alt="Werk van studenten">
        <div class="related--chevron">
          {% svg 'icons/chevron-right' %}
        </div>
      </div>
      <h3>Werk van studenten</h3>
    </button>
    <button class="related__link" aria-controls="modal-contact" aria-label="Open modalbox" js-hook-button-modal-close>
      <div>
        <img class="" src="/assets/images/elements/contact.png" alt="Contact met studenten">
        <div class="related--chevron">
          {% svg 'icons/chevron-right' %}
        </div>
      </div>
      <h3>Contact met studenten</h3>
    </button>
  </div>
</div>