<div class="meeloopdag-step3 is--hidden-full" js-hook-meeloopdag-step-three>
  <div class="meeloopdag-step--count">
    <strong>4</strong>
    <span>/</span> 4</div>
  <img class="meeloopdag__quiz-image" src="/assets/images/benno.jpeg" alt="Benno Premsela"/>

  <div class="meeloopdag__quiz-wrapper">
    <h1 class="meeloopdag__quiz-title">
      Heb je ooit al eens gehoord van Benno Premsela? Wie zou hij zijn denk je?
    </h1>
    <div class="meeloopdag__quiz-radio-wrapper">
      <div class="meeloopdag__quiz-radio-container" js-hook-quiz-radio>
        <input class="meeloopdag__quiz-radio-input" type="radio" id="first" name="benno" value="first" js-hook-quiz-input>
        <label class="meeloopdag__quiz-radio-label" for="first" js-hook-quiz-label>Een vormgever en binnenhuisarchitect</label>
      </div>
      <div class="meeloopdag__quiz-radio-container">
        <input class="meeloopdag__quiz-radio-input" type="radio" id="second" name="benno" value="second" js-hook-quiz-input>
        <label class="meeloopdag__quiz-radio-label" for="second" js-hook-quiz-label>Hij speelde een rol in de Nederlandse kunstwereld van voor de oorlog</label>
      </div>
      <div class="meeloopdag__quiz-radio-container">
        <input class="meeloopdag__quiz-radio-input" type="radio" id="third" name="benno" value="third" js-hook-quiz-input>
        <label class="meeloopdag__quiz-radio-label" for="third" js-hook-quiz-label>Een belgische voorvechter van de homo-emancipatie</label>
      </div>
      <div class="meeloopdag__quiz-radio-container">
        <input class="meeloopdag__quiz-radio-input" type="radio" id="fourth" name="benno" value="fourth" js-hook-quiz-input>
        <label class="meeloopdag__quiz-radio-label" for="fourth" js-hook-quiz-label>De zoon van seksuoloog Bernardo Premsela</label>
      </div>
      <h2 class="meeloopdag__quiz-radio-good-title is--hidden" js-hook-quiz-good-title>{% svg 'icons/winner.svg' %}
        <span>Goed geraden!</span></h2>
      <button class="meeloopdag__quiz-radio-button" type="button" tabindex="0" js-hook-quiz-button>
        <span class="button__label">Controleer antwoord</span>
      </button>
    </div>
  </div>
</div>