<div class="c-algemeen">
  <h3 class="algemeen__intro">
    De belangrijke informatie op een rij
  </h3>

  <h2 class="algemeen__title">Corona</h2>
  <h3 class="algemeen__subtitle">Hoe zit het daar nou mee?</h3>
  <p>
    In het eerste jaar van je opleiding leg je een brede basis, waarbij je je richt op de kennis,
    vaardigheden en kwaliteiten die je nodig hebt als media- en communicatieprofessional. Je voert
    zowel individueel als in teamverband projecten uit. De opdrachten zijn praktisch en sluiten
    direct aan op het werkveld.
  </p>
  <h2 class="algemeen__title">Toelatingsvoorwaarden</h2>
  <h3 class="algemeen__subtitle">Welke diploma's heb ik nodig?</h3>
  <p>
   Met een mbo-niveau 4-diploma ben je toelaatbaar tot deze opleiding. Hogeschool Rotterdam stelt geen eisen aan je vakkenpakket of het domein waarin je je mbo-diploma hebt behaald.
  </p>
  <h2 class="algemeen__title">Studielast en studieadvies</h2>
  <h3 class="algemeen__subtitle">Hoeveel studiepunten moet ik halen?</h3>
  <p>
    Je studielast wordt uitgedrukt in studiepunten (EC) volgens het European Credit Transfer System (ECTS). Voor elk vak is vastgesteld hoeveel studiepunten (EC) je daarvoor krijgt. Als je de volledige Associate degree-opleiding volgt, geldt de volgende studielast:
  </p>
  <ul class="algemeen__list">
    <li>60 studiepunten (EC) per jaar</li>
    <li>2 jaar x 60 = 120 studiepunten (EC) in totaal</li>
    <li>1 studiepunt (EC) staat voor gemiddeld 28 uur studiebelasting</li>
  </ul>
  <h2 class="algemeen__title">Aanmeldprocedure en studiekeuzecheck</h2>
  <h3 class="algemeen__subtitle">Waar moet ik aanmelden?</h3>
  Om je aan te melden, moet je eerst een DigiD aanvragen. Regel dit nu al. De aanvraag duurt ongeveer een week. Meld je vóór 1 mei 2021 aan. Dat doe je via Studielink. Aanmelden is mogelijk vanaf 1 oktober.
  <h2 class="algemeen__title">Opleidingsgegevens</h2>
  <p>
  Deze opleiding staat als volgt geregistreerd in het Centraal Register Opleidingen Hoger Onderwijs (CROHO):
  </p>

  <ul class="algemeen__list">
    <li>Officiële opleidingsnaam: AD Frontend Design & Development</li>
    <li>Naam internationaal: AD Frontend Design & Development</li>
    <li>Opleidingscode (Isat): 99999</li>
    <li>Instellingscode (Brin): 999J</li>
  </ul>

  <h2 class="algemeen__title">Studiekosten</h2>
  <h3 class="algemeen__subtitle">Hoeveel kost studeren nou precies...</h3>
  <p>
    <strong class="algemeen__strong">Wettelijk collegegeld</strong>
    in 2020-2021 bedraagt het wettelijk collegegeld voor een voltijd- of duale opleiding € 2.143,- of € 1.071,-
  </p>
  <p>
    <strong class="algemeen__strong">Instellingscollegegeld</strong>
    iStudenten uit niet-EER landen betalen instellingscollegegeld. Ook studenten die al in het bezit zijn van een hbo- of wo-diploma betalen voor de meeste opleidingen instellingscollegegeld.
  </p>
  <p>
    <strong class="algemeen__strong">Overige studiekosten</strong>
     Voor de aanschaf lesmateriaal moet je bij deze opleiding rekenen op een gemiddeld bedrag van € 200,- per jaar. Daarnaast moet je beschikken over een laptop. Wij raden een Apple Macbook Pro aan.
  </p>
  <p>
    <strong class="algemeen__strong">Kosten levensonderhoud</strong>
     Naast je studiekosten moet je rekening houden met kosten voor levensonderhoud en verzekeringen. Ga je op kamers, dan is je huur een grote kostenpost. Als je op jezelf woont, kun je ongeveer rekening houden met de volgende maandelijkse kosten in euro’s
  </p>
  <ul class="algemeen__list">
    <li>Huur kamer in Amsterdam: € 500,- </li>
    <li>Boodschappen: € 180,-</li>
    <li>Studiemiddelen: € 60,-</li>
    <li>Vervoer (naast de OV-kaart): € 60,-</li>
    <li>Ontspanning, uitgaan en sport: € 150,-</li>
    <li>Kleding en schoenen: € 50,-</li>
    <li>Zorgverzekering: € 110,-</li>
    <li>Telefoon: € 30,-</li>
  </ul>

</div>