<div class="c-uitdagingen">
  <h3 class="uitdagingen__intro">
    Maak echte opdrachten die ook tijdens de lessen gegeven worden. Het maakt niet uit of je een beginner bent of al veel ervaring hebt.
  </h3>

  <h2 class="uitdagingen__title">Wat is je huidige niveau?</h2>
  <div class="uitdagingen__quiz-radio-wrapper">
    <div class="uitdagingen__quiz-radio-container">
      <input class="uitdagingen__quiz-radio-input" type="radio" id="first-2" name="benno2" value="first">
      <label class="uitdagingen__quiz-radio-label" for="first-2">Ik heb weinig tot geen kennis van HTML en CSS</label>
    </div>
    <div class="uitdagingen__quiz-radio-container">
      <input class="uitdagingen__quiz-radio-input" type="radio" id="second-2" name="benno2" value="second">
      <label class="uitdagingen__quiz-radio-label" for="second-2">Ik heb wel eens HTML en CSS gebruikt</label>
    </div>
    <div class="uitdagingen__quiz-radio-container">
      <input class="uitdagingen__quiz-radio-input" type="radio" id="third-3" name="benno2" value="third">
      <label class="uitdagingen__quiz-radio-label" for="third-3">Ik kan al een website maken met HTML en CSS</label>
    </div>
    <div class="uitdagingen__quiz-radio-container">
      <input class="uitdagingen__quiz-radio-input" type="radio" id="fourth-4" name="benno2" value="fourth">
      <label class="uitdagingen__quiz-radio-label" for="fourth-5">HTML, CSS en JavaScript ken ik al best goed!</label>
    </div>
    <button class="uitdagingen__quiz-radio-button" type="button" tabindex="0">
      <span class="button__label">Uitdaging beginnen!</span>
    </button>
  </div>

</div>