{% from 'card.html' import card %}
{% from 'elements-section.html' import elementsSection %}

{% extends 'layouts/default.html' %}

{% block content %}

  <div class="o-container">

    {% call elementsSection() %}

    {% for element in elements %}

      {{ card({
          title: element.title,
          description: element.description,
          image: element.image,
          button: {
              label: element.button.label,
              controls: element.button.controls
            }
        }) }}

    {% endfor %}

    {% endcall %}

  </div>

{% endblock %}