.c-card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin-bottom: $global-spacing-lg;

  @include screen-tablet-portrait-and-bigger {
    flex-direction: row;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 45px solid transparent;
    border-right: 30px solid transparent;
    border-left: 60px solid $color-primary;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 45px solid transparent;
    border-right: 60px solid $color-primary;
    border-left: 30px solid transparent;
  }
}

.card__image-wrapper {
  background-color: $color-purple;
  display: flex;
  align-items: center;
  padding: $global-spacing-lg $global-spacing-lg * 2;

  @include screen-tablet-portrait-and-bigger {
    min-width: 200px;
    padding: $global-spacing-lg;
  }
}

.card__image {
  width: 100%;
}

.card__content-wrapper {
  position: relative;
  background-color: $color-off-white;
  padding: $global-spacing-sm;
}

.card__title {
  text-transform: uppercase;
  color: $color-grey-dark;
  margin-bottom: $global-spacing;
}

.card__description {
  margin-bottom: $global-spacing-lg * 2.25;
}

.card__button {
  position: absolute;
  bottom: $global-spacing-sm;
  width: 80%;

  @include screen-tablet-portrait-and-bigger {
    margin-left: -$global-spacing-lg;
    width: 90%;
  }
}
