<div class="c-werkmogelijkheden">
  <h3 class="werkmogelijkheden__intro">
    Met je Associate degree Frontend Design & Development kun je bijvoorbeeld terecht bij omroepen,
    mediaproducenten of verschillende bureaus op het gebied van reclame, gaming, events en branding.
  </h3>

  <h2 class="werkmogelijkheden__title">Front-end Developer</h2>
  <p>
    Front-end developers ontwerpen, programmeren, testen en implementeren het front-endgedeelte van
    een toepassing. Ze houden zich bezig met technische aspecten, maar ook met vraagstukken op het
    gebied van usability (gebruiksvriendelijkheid) en toegankelijkheid. Ze maken vooral gebruik van
    de programmeertalen HTML en Javascript en van CSS (Cascading Style Sheets)-opmaakelementen.
  </p>
  <h2 class="werkmogelijkheden__title">Creative Developer</h2>
  <p>
    Vind je gaming tof, en ben je altijd op de hoogte van wat er speelt in de gaming wereld? Je kan
    er je werk van maken! Stel je eens voor, je werkt aan bijvoorbeeld entertainment games of
    educatieve games.
  </p>
  <h2 class="werkmogelijkheden__title">Visual Webdesigner</h2>
  <p>
    Een visual designer onderzoekt wat klanten willen en heeft oog voor de gebruiksvriendelijkheid.
    Dit vormen de uitgangspunten voor het uiteindelijke ontwerp. Soms wordt met een visual designer
    een grafisch vormgever bedoeld. Tegenwoordig wordt een visual designer vooral gezien als iemand
    die de look & feel van een interactieve mediatoepassing ontwerpt.
  </p>

</div>