<div class="c-title">
  <h1 class="title__title">
    <span class="title__associate">AD</span> Frontend Design & Development
  </h1>

  <span class="title__arrow">
    {% svg 'icons/arrow-down.svg'%}
  </span>

  <p class="title__description">
    In de opleiding Frontend Design & Development leer je interactieve toepassingen maken voor het
    web. Met HTML, CSS en Javascript maak je echte opdrachten voor echte opdrachtgevers.
  </p>

  <span class="title__title-add-on"
    >Een <strong>Associate Degree</strong> (AD) is een 2-jarige praktijkgerichte HBO
    voltijdopleiding.</span
  >
</div>