{% from 'image.html' import image %}

{% macro studentenwerkCard(data) %}
  <a href="https://demos.sketchfab.com/clients/nike-configurator/index.html" class="c-studentenwerk-card" target="_blank" rel="noopener nofollower">

    {{ image({
      image: data.image,
      classes: 'studentenwerk-card__image',
      alt: data.title,
      objectFit: true
    }) }}

    <div class="studentenwerk-card__content-wrapper">

      <h3 class="studentenwerk-card__title">{{ data.title }}</h3>
      <span class="studentenwerk-card__author">gemaakt door <strong>{{ data.author }}</strong>
      </span>

    </div>

  </a>
{% endmacro %}