<div class="c-studieprogramma">
  <h3 class="studieprogramma__intro">
    Bij de start van je studie ligt de nadruk op het ontwikkelen van kennis en vaardigheden. Ook
    komt direct de praktijk aan bod. Je leert praktijkcases aan te pakken samen met medestudenten,
    docenten en professionals.
  </h3>

  <h2 class="studieprogramma__title">Opbouw</h2>
  <h3 class="studieprogramma__subtitle">Het eerste jaar</h3>
  <p>
    In het eerste jaar van je opleiding leg je een brede basis, waarbij je je richt op de kennis,
    vaardigheden en kwaliteiten die je nodig hebt als media- en communicatieprofessional. Je voert
    zowel individueel als in teamverband projecten uit. De opdrachten zijn praktisch en sluiten
    direct aan op het werkveld.
  </p>
  <h3 class="studieprogramma__subtitle">Het tweede jaar</h3>
  <p>
    In het tweede jaar wordt er steeds meer zelfstandigheid van je verwacht. Je vervult nu een
    belangrijke functie als ‘project developer’ bij de totstandkoming van communicatiemiddelen. Je
    wordt getraind in hoe je een innovatief project opzet vanuit de strategie van een organisatie,
    waarbij verschillende communicatiemiddelen naadloos op elkaar aansluiten.
  </p>
  <h3 class="studieprogramma__subtitle">Afstuderen</h3>
  <p>
    Op grond van je kennis en een onderzoek adviseer je een bedrijf over de ontwikkeling van een
    website op het gebied van uitwerking. Hierbij pas je alle eerder opgedane kennis en
    vaardigheden concreet toe.
  </p>
  <h2 class="studieprogramma__title">Vakken</h2>
  <h3 class="studieprogramma__subtitle">Het eerste jaar</h3>
  <ul class="studieprogramma__list">
    <li>Basis HTML, CSS en JavaScript</li>
    <li>Web App from Scratch</li>
    <li>Semantisch HTML</li>
    <li>Webdesign</li>
    <li>CSS to the Rescue</li>
    <li>Browser Technologies</li>
  </ul>
  <h3 class="studieprogramma__subtitle">Het tweede jaar</h3>
  <ul class="studieprogramma__list">
    <li>Performance Matters</li>
    <li>Project 1</li>
    <li>Realtime Web</li>
    <li>Project Tech</li>
    <li>Meesterproef</li>
  </ul>

</div>