<div class="c-docenten">
  <img class="docenten__image" src="/assets/images/docent-1.jpg" alt="Docent Henk"/>
  <p>
    Hallo! Ik ben Pieter van Althuis. Ik geef inmiddels al 5 jaar codeer les op de Hogeschool van
    Amsterdam. Ik ben hiervoor 4 jaar als front-ender gewerkt bij een digital agency waarbij ik
    gewerkt heb aan projecten voor bol.com en de belastingdienst. Ik heb enorm veel zin om mijn
    kennis over te geven zodat jij ook aan de slag kan op dit gebied. Samen gaan we van elkaar
    leren!
  </p>
  <img class="docenten__image" src="/assets/images/docent-2.jpeg" alt="Docent Harry"/>
  <p>
    Hallo! Ik ben Harry Terneuzen. Ik geef inmiddels al 5 jaar codeer les op de Hogeschool van
    Amsterdam. Ik ben hiervoor 4 jaar als front-ender gewerkt bij een digital agency waarbij ik
    gewerkt heb aan projecten voor bol.com en de belastingdienst. Ik heb enorm veel zin om mijn
    kennis over te geven zodat jij ook aan de slag kan op dit gebied. Samen gaan we van elkaar
    leren!
  </p>

</div>