.c-title {
  color: $color-white;
  padding: $global-spacing 0;
}

.title__associate {
  background-color: $color-white;
  color: $color-primary;
  border-radius: 50%;
  padding: $global-spacing;
  letter-spacing: -3px;
}
